.general {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    color: black;
    text-align: justify;
}
#prueba{
    font-family: Arial, Helvetica, sans-serif;
    color: #2D3E7B;
}